p { 
    color:black;
}

h1 {
    color: blue;
    text-align: center;
    font-style: italic;
    font-size: 3em;
}

h2 {
    color: blueviolet;
    text-align:left;
    font-family: ;
    font-size: 2em;
}

